ont-face {
  font-family: NanumSquare;
  src: url(NanumSquareR.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Cosolas;
  src: url(consola.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}

h2, h3, h4, h5, h6 {
	line-height: 140%;
}

pre {
	font-family:Consolas;
	font-size:10pt;
}

code{
	font-family:Consolas;
	font-size:10pt;
}

body {
	font-family: NanumSquare;
	font-size:11pt;
	line-height: 160%;
}